[submodule "backEnd"]
	path = backEnd
	url = https://github.com/Miguel-C1/spotsat-BackEnd.git
[submodule "my-app"]
	path = my-app
	url = https://github.com/Miguel-C1/spotsat-FrontEnd.git
[submodule "my-aap"]
	path = my-aap
	url = https://github.com/Miguel-C1/spotsat-FrontEnd.git
